@import "../styles/typography.css";

html {
  font-family: var(--font-family-sans,"NunitoSans");
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-grey);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

div .subtitle {
  color: var(--color-subtitle);
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  padding-top: 10px;
  font-size: 1.3em;
}

div .summary {
  color: var(--color-summary);
  text-align: center;
  max-width: 38em;
  padding-left: 7em;
  padding-right: 7em;
  margin-top: -15px;
  font-size: 1.1em;
}

#slideshow {
  display: flex;
  margin: 50px auto;
  position: relative;
  width: auto;
  height: fit-content;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > img {
  cursor: pointer;
}

#slideshow > div {
  position: relative;
  width: fit-content;
}
