html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body,
body > div,
body > div > div {
  height: 100%;
}

#slideshow {
  display: flex;
  margin: 50px auto;
  position: relative;
  width: auto;
  height: fit-content;
  padding: 10px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

#slideshow > img {
  cursor: pointer;
}

#slideshow > div {
  position: relative;
  width: fit-content;
}
