@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
  display: block;
  color: inherit;
  text-decoration: none;
}

.inList {
  composes: root;

  @media (--media-min-medium) {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2em;
  }
}

.inGrid {
  composes: root;
}

.leadMediaThumb {
  position: relative;
  padding-bottom: 66.666%;
  background: var(--color-very-light-gray);

  @nest & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text {
  color: var(--color-text-preview);
  padding-top: 10px;
}

.title {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 900;
  padding-left: 50px;
  @media (hover: hover) {
    @nest .root:hover & {
      text-decoration: underline;
    }
  }

  @media (--media-min-medium) {
    @nest .inList & {
      margin-top: 0;
    }
  }
}

.excerpt {
  @nest & p {
    margin: 0.5em 0;
    padding-top: 18px;
    text-transform: capitalize;
    padding-left: 50px;
  }

  @nest & strong {
    font-weight: 600;
  }
}

.date {
  font-size: var(--font-small-size);
  line-height: var(--font-small-line-height);
  color: var(--color-gray);
}

.listContainer {
  display: inline-flex;
}

.list {
  display: inline-flex;
}

ul {
  list-style: none;
  padding-left: 50px;
}

ul.list li p {
  line-height: 10px;
}

ul.list li div {
  max-width: max-content;
  padding: 0 5px 15px 0;
  margin-top: -22px;
  margin-left: 32px;
}

ul.list li {
  width: 170px;
}

ul.firstlist li {
  color: var(--color-gray);
}

ul.list li::before {
  content: " | ";
  color: var(--color-gray);
}

hr {
  max-width: 100%;
  width: 89%;
  margin-left: auto;
  margin-right: auto;
  color: var(--color-gray);
}
