GATSBY_SANITY_PROJECT_ID="vpn8l4cg"
GATSBY_SANITY_DATASET="production"
OPEN_EXCHANGE_RATES_APP_ID="7299048adc0a416093150a5580a093ae"
# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
SANITY_READ_TOKEN=""
